<div class="container">
    <form>
      <div class="row">
        <div class="col-md-3 mb-3">
          <label for="yearSelect" class="form-label custom-label">Año</label>
          <select id="yearSelect" class="form-select" [(ngModel)]="selectedYear" name="year">
            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
          </select>
        </div>
  
        <div class="col-md-3 mb-3">
          <label for="campusSelect" class="form-label custom-label">Campus</label>
          <select id="campusSelect" class="form-select" [(ngModel)]="selectedCampus" name="campus">
            <option *ngFor="let campus of campuses" [value]="campus">{{ campus }}</option>
          </select>
        </div>
  
        <div class="col-md-3 mb-3">
          <label for="facultadSelect" class="form-label custom-label">Facultad</label>
          <select id="facultadSelect" class="form-select" [(ngModel)]="selectedFacultad" name="facultad">
            <option *ngFor="let facultad of facultades" [value]="facultad">{{ facultad }}</option>
          </select>
        </div>
  
        <div class="col-md-3 mb-3">
          <label for="carreraSelect" class="form-label custom-label">Carrera</label>
          <select id="carreraSelect" class="form-select" [(ngModel)]="selectedCarrera" name="carrera">
            <option *ngFor="let carrera of carreras" [value]="carrera">{{ carrera }}</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  