<div>
  <h2>Filtros</h2>
  <form (ngSubmit)="getFilteredResults()">
    <div>
      <label for="year">Año:</label>
      <select id="year" [(ngModel)]="selectedYear" name="year">
        <option *ngFor="let year of years" [value]="year.id">{{ year.year }}</option>
      </select>
    </div>

    <div>
      <label for="campus">Campus:</label>
      <select id="campus" [(ngModel)]="selectedCampus" name="campus">
        <option *ngFor="let campus of campuses" [value]="campus.id">{{ campus.name }}</option>
      </select>
    </div>

    <div>
      <label for="faculty">Facultad:</label>
      <select id="faculty" [(ngModel)]="selectedFaculty" name="faculty" (change)="onFacultyChange()">
        <option *ngFor="let faculty of faculties" [ngValue]="faculty">{{ faculty.name }}</option>
      </select>
    </div>

    <div>
      <label for="career">Carrera:</label>
      <select id="career" [(ngModel)]="selectedCareer" name="career" [disabled]="!selectedFaculty">
        <option *ngFor="let career of selectedFaculty?.careers" [value]="career.id">{{ career.name }}</option>
      </select>
    </div>

    <button type="submit">Buscar</button>
  </form>
</div>

<div *ngIf="filteredData.length">
  <h3>Resultados Filtrados</h3>
  <ul>
    <li *ngFor="let item of filteredData">
      Año: {{ item.year }}, Campus: {{ item.campus }}, Facultad: {{ item.faculty }}, Carrera: {{ item.career }}
    </li>
  </ul>
</div>
