<div>
  <label>Campus:
    <select [(ngModel)]="selectedCampus">
      <option *ngFor="let campus of campusOptions" [value]="campus">{{ campus }}</option>
    </select>
  </label>

  <label>Año:
    <select [(ngModel)]="selectedYear">
      <option *ngFor="let year of yearOptions" [value]="year">{{ year }}</option>
    </select>
  </label>

  <label>Sesión:
    <select [(ngModel)]="selectedSession">
      <option *ngFor="let session of sessionOptions" [value]="session">{{ session }}</option>
    </select>
  </label>

  <button (click)="filterImages()">Filtrar</button>
</div>

<div *ngIf="filteredImages.length">
  <div *ngFor="let image of filteredImages">
    <img [src]="image.url" alt="Image" width="200">
  </div>
</div>
