.row{
  flex-wrap: nowrap;
  align-items: center;
  justify-content:space-between;
}
.form-select {
  width: 100%;
}

#campusSelect,
#yearSelect{
  width: fit-content;
}

.year{
  width: 115px;
}

.campus{
  width: 190px;
}

.btn-filtro{
  width: 200px;
  margin-top: 3rem;
}

  /* Estilo personalizado para los labels */
.custom-label {
    font-size: 1.1rem;
    margin-top: 20px;
    color:#FFB011; /* Cambiar el color del texto (ajustar según el diseño) */
    margin-bottom: 0.5rem; /* Ajustar el margen inferior si es necesario */
    display: block; /* Asegurarse de que el label esté en bloque para un mejor espaciado */
  }
  
  /* Opcional: Estilos adicionales para la etiqueta en dispositivos móviles */
  @media (max-width: 768px) {
    .custom-label {
      font-size: 0.9rem; /* Reducir el tamaño del texto en pantallas más pequeñas */
    }
  }
  