/* Estilos para cuando los filtros están ocultos en pantallas pequeñas */
.filters-hidden {
  display: none; /* Inicialmente oculto */
}

.filters-overlay {
  display: block; /* Mostrar los filtros cuando se hace clic */
}

.row{
  flex-wrap: nowrap;
  align-items: center;
  justify-content:space-around;
}

.form-select {
  width: 250px;
}

#campusSelect,
#yearSelect{
  width: fit-content;
}

.btn-filtro{
  display: flex;
  width: 250px;
  margin-top: 3rem;
  justify-content: flex-end;
}

  /* Estilo personalizado para los labels */
.custom-label {
    font-size: 1.1rem;
    margin-top: 20px;
    color:#FFB011; 
    margin-bottom: 0.5rem; 
    display: block; 
  }
  
    /* En pantallas grandes, los filtros siempre están visibles */
@media (min-width: 1020px) {
  .d-md-none {
    display: none; /* Ocultar el botón en pantallas grandes */
  }

  .filtro{
    display: flex;
  }
  .filters-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  // .btn-filtro {
  //   width: 200px;
  //   align-items: center;
  //   justify-content: center;
  // }
  .close-filtro{
    display: none;
  }

  .year{
    width: 90px;
    margin-right: -50px;
  }
  
  .campus{
    width: 170px;
    margin-right: -50px;
  }
  #facultadSelect, #carreraSelect{
    margin-right: 50px;
  }
}

  @media (max-width: 820px) {
    .filtro{
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
    }
    /* Botón visible solo en pantallas pequeñas */
    .d-md-none {
      display: block !important;
      margin-top: 1rem;
      color: white;
    }
   
    /* Filtros ocultos inicialmente */
    .filters-hidden {
      display: none;
    }
   
    /* Cuando se muestra, los filtros ocupan toda la fila (una columna) */
    .filters-overlay {
   
     display: none;
   
      #campusSelect,
      #yearSelect{
        width: 100%;
      }
   
      .year, .campus{
        width: 100%;
      }
      
      width: 100%;
      display: flex;
      position: absolute;
      z-index: 100;
      background: rgba(0, 0, 0, 0.651);
      height: 100vh;
      flex-wrap: wrap;
      justify-content: center;
      left: 0px;
      top: 0px
    }
    .close-filtro {
      background: none;
      border: none;
      color: #fff;
      font-size: 1.5rem;
      margin-top: 1rem;
      cursor: pointer;
      position: absolute;
      top: 1rem;
      right: 1rem;
      z-index: 999;
    }
   
    /* Cambiamos los filtros a columna en pantallas pequeñas */
    .row {
      flex-wrap: wrap;
      display: flex;
      flex-direction: column;
      margin-top: 60px;
      align-items: flex-start;
    }
    .btn-filtro{
      width: 100%;
      display: grid;
      justify-content: space-around;
    }
   }

/* Para pantallas pequeñas */
@media (max-width: 768px) {
 .filtro{
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
 }
 /* Botón visible solo en pantallas pequeñas */
 .d-md-none {
   display: block !important;
   margin-top: 1rem;
   color: white;
 }

 /* Filtros ocultos inicialmente */
 .filters-hidden {
   display: none;
 }

 /* Cuando se muestra, los filtros ocupan toda la fila (una columna) */
 .filters-overlay {

  display: none;

   #campusSelect,
   #yearSelect{
     width: 100%;
   }

   .year, .campus{
     width: 100%;
   }
   
   width: 100%;
   display: flex;
   position: absolute;
   z-index: 100;
   background: rgba(0, 0, 0, 0.651);
   height: 100vh;
   flex-wrap: wrap;
   justify-content: center;
   left: 0px;
   top: 0px
 }
 .close-filtro {
   background: none;
   border: none;
   color: #fff;
   font-size: 1.5rem;
   margin-top: 1rem;
   cursor: pointer;
   position: absolute;
   top: 1rem;
   right: 1rem;
   z-index: 999;
 }

 /* Cambiamos los filtros a columna en pantallas pequeñas */
 .row {
   flex-wrap: wrap;
   display: flex;
   flex-direction: column;
   margin-top: 60px;
   align-items: flex-start;
 }
}
