
<div class="contenedor-principal">
  <div class="mensaje-inicio">
    <h2>Felicidades Graduados UCN 2024</h2>
  </div>
  <!--
  <app-filtro-anuario></app-filtro-anuario>
  -->
  <div class="container-imagen">
    <img class="imagen1" src="../../../assets/Fotos/Grupal-foto-UCN.JPG" alt="Foto grupal">
  </div>
  <div class="container_evento">
    <h3>Proxima Graduacion</h3>
    <img src="../../../assets/Fotos/Gerarme una ima ff65a0ef-ceec-413d-858a-1e15c732bfb0.png" alt="">
  </div>
</div>
<router-outlet></router-outlet>

