<app-filtro-coleccion-fotos></app-filtro-coleccion-fotos>
<div class="container">
  <div class="gallery-container">
    <div *ngFor="let graduacion of listGraduaciones" class="gallery-item">
      <h3 class="titulos">Campus {{ graduacion.campus }} - Año {{ graduacion.year_graduacion }} - Sesión {{ graduacion.sesion }}</h3>
      <div class="fotosGraduacion" *ngIf="graduacion.fotos_graduaciones.length; else noFotos">
        <img *ngFor="let foto of graduacion.fotos_graduaciones"
             [src]="foto"
             alt="Foto de graduación"
             (load)="checkImageDimensions($event, foto)"
             (error)="onImageError($event)"
             [ngClass]="{'tall-image': isTallImage(foto)}"
             loading="lazy">
      </div>
      <ng-template #noFotos>
        <p>No hay fotos disponibles</p>
      </ng-template>
    </div>
  </div>
</div>
