.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.gallery-container {
  display: flex;
  flex-wrap: wrap; /* Esto permite que las imágenes se distribuyan en varias filas si es necesario */
  justify-content: flex-start; /* Alinea los elementos horizontalmente */
  gap: 10px; /* Añade un espacio de 10px entre cada imagen */
  padding: 10px;
}

.gallery-item {
  flex: 1 1 150px; /* Cada imagen ocupará un mínimo de 150px de ancho y se ajustará según el espacio disponible */
  max-width: 200px; /* Tamaño máximo de la imagen */
}
.titulos{
  display: flex;
  
}
.gallery-item img {
  width: 100%;
  height: auto; /* Mantén la proporción de las imágenes */
  object-fit: cover;
}

.fotosGraduacion{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* Clase para imágenes altas */
.tall-image {
  height: 300px; /* Ajusta la altura de las imágenes que necesitan ocupar más espacio vertical */
}
