<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coleccion de fotos</title>
</head>
<body>
  <div class="container">
    <div class="coleccion">
      <img class="foto" src="../../../assets/Fotos/pexels-george-pak-7972719.jpg" alt="">
      <img class="foto" src="../../../assets/Fotos/foto1.jpg" alt="">
      <img class="foto" src="../../../assets/Fotos/foto2.jpg" alt="">
      <img class="foto" src="../../../assets/Fotos/foto3.jpg" alt="">
      <img class="foto" src="../../../assets/Fotos/foto4.jpg" alt="">
    </div>
  </div>

</body>
</html>
