<app-filtro-anuario></app-filtro-anuario>
<!-- Contenedor principal para las tarjetas -->
<div id="app">
  <div *ngFor="let universitario of paginatedGraduados">
    <div class="card">
      <!-- Imagen del graduado -->
      <div class="card_image">
        <img [src]="universitario.ruta_foto" class="picture"
        (error)="onImageError($event)">
      </div>
      <!-- Información del graduado -->
      <div class="card_body">
        <h2>{{universitario.nombres}}</h2>
        <h2>{{universitario.apellidos}}</h2>
        <p>{{universitario.facultad}}</p>
        <button type="button" class="btn btn-success" (click)="abrirModalAnuario(universitario.carnet)">Ver detalles</button>
      </div>
    </div>
  </div>
</div>

<!-- Paginador -->
<mat-paginator
  [length]="totalGraduados"
  [pageSize]="pageSize"
  [pageSizeOptions]="[2, 8, 20]"
  (page)="onPageChange($event)">
</mat-paginator>
