#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

// @keyframes pageFlip {
//   0% {
//     transform: perspective(1000px) rotateY(0deg);
//     transform-origin: left;
//   }
//   50% {
//     transform: perspective(1000px) rotateY(-90deg);
//     transform-origin: left;
//   }
//   100% {
//     transform: perspective(1000px) rotateY(-180deg);
//     transform-origin: left;
//   }
// }

// @keyframes pageFlipBack {
//   0% {
//     transform: perspective(1000px) rotateY(180deg);
//     transform-origin: right;
//   }
//   50% {
//     transform: perspective(1000px) rotateY(90deg);
//     transform-origin: right;
//   }
//   100% {
//     transform: perspective(1000px) rotateY(0deg);
//     transform-origin: right;
//   }
// }

// .flip-container {
//   animation-name: pageFlip;
// }

// .flip-back {
//   animation-name: pageFlipBack;
// }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 250px;
  width: 250px;
  height: 285px;
  background: linear-gradient(rgb(30, 176, 106) 29%, rgb(255, 255, 255) 30%);
  box-shadow: 0 0 25px rgba(0, 139, 63, 0.438);
  border-radius: 10px;
  padding: 50px 16px;
  margin: 10px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.card.flip {
  transform: rotateY(-180deg);
}

.card_image {
  position: relative;
  margin-top: -40px;
  height: 120px;
  width: 120px;
  backdrop-filter: blur(2px);
}

.card_image .picture {
  width: 120px;
  height: 100px;
  object-fit: cover;
  border-radius: 2%;
}

.card_body {
  text-align: center;
}

.card_body h2 {
  color: #1fb16b;
  margin-bottom: 5px;
}

.card_body p {
  font: bold;
  color: rgb(255, 170, 0);
  margin-top: 5px;
}

.card > .card_image > .picture {
  transition: all 0.3s;
}

.card:hover > .card_image > .picture {
  border-radius: 5%;
  box-shadow: 0 0px 40px var(--colorDark);
  transform: translateY(-20%) scale(1.1);
}

.mat-mdc-paginator {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
}

/* Estilos responsivos */

@media (max-width: 576px) {
  #app {
    flex-direction: row;
    justify-content: space-between;
  }
  .card {
    width: calc(225px - 30px);
    margin: 10px;
  }
}

@media (max-width: 425px) {
  #app {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    flex-basis: 250px;
    margin: 10px;
  }
}

@media (max-width: 375px) {
  #app {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    flex-basis: 250px;
    margin: 10px;
  }
}



@media (min-width: 1366px) {
  #app {
    justify-content: space-evenly;
    padding: 0px 100px 0px 100px;
  }
  .card {
    margin-left: 10px;
  }
}

@media (min-width: 1440px) {
  #app {
    justify-content: space-evenly;
    padding: 0px 100px 0px 100px;
  }
  .card {
    margin-left: 10px;
  }
}

@media (min-width: 1920px) {
  #app {
    padding: 0 15vw; /* Ajuste flexible en pantallas grandes */
  }
}
