<app-filtro-anuario></app-filtro-anuario>
<div id="app" >
    <div *ngFor="let universitario of listGraduados">
        <div class="card" (click)="abrirModalAnuario(universitario.carnet)">
            <div class="card_image">
                <img src="../../../assets/Fotos/hombre-de-negocios.png" class="picture">
            </div>
            <div class="card_body">
                <h2>{{universitario.nombres}}</h2> <h2>{{universitario.apellidos}}</h2>
                <p>{{universitario.facultad}}</p>
                <button type="button" class="btn btn-success" (click)="abrirModalAnuario(universitario.carnet)">Ver detalles</button>
            </div>
        </div>
    </div>
</div>


