<!-- <app-navbar-admin></app-navbar-admin> -->
<div class="contenedor-tabla">
  <div class="buscar_graduado">
    <mat-form-field>
      <mat-label>Buscar Graduado</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
    </mat-form-field>
  </div>
  <div class="contenedor-secundario">
    <table mat-table [dataSource]="dataSource">
      <!-- Columna Carnet -->
      <ng-container matColumnDef="carnet">
        <th mat-header-cell *matHeaderCellDef>Carnet</th>
        <td mat-cell *matCellDef="let graduado"> {{graduado.carnet}} </td>
      </ng-container>

      <!-- Columna nombres -->
      <ng-container matColumnDef="nombres">
        <th mat-header-cell *matHeaderCellDef>Nombres</th>
        <td mat-cell *matCellDef="let graduado"> {{graduado.nombres}} </td>
      </ng-container>

      <!-- Columna apellidos -->
      <ng-container matColumnDef="apellidos">
        <th mat-header-cell *matHeaderCellDef>Apellidos</th>
        <td mat-cell *matCellDef="let graduado"> {{graduado.apellidos}} </td>
      </ng-container>

      <!-- Columna carrera -->
      <ng-container matColumnDef="carrera">
        <th mat-header-cell *matHeaderCellDef>Carrera</th>
        <td mat-cell *matCellDef="let graduado"> {{graduado.carrera}} </td>
      </ng-container>

      <!-- Columna facultad -->
      <ng-container matColumnDef="facultad">
        <th mat-header-cell *matHeaderCellDef>Facultad</th>
        <td mat-cell *matCellDef="let graduado"> {{graduado.facultad}} </td>
      </ng-container>

      <!-- Columna campus -->
      <ng-container matColumnDef="campus">
        <th mat-header-cell *matHeaderCellDef>Campus</th>
        <td mat-cell *matCellDef="let graduado"> {{graduado.campus}} </td>
      </ng-container>

      <!-- Columna frase emotiva -->
      <ng-container matColumnDef="frase_emotiva">
        <th mat-header-cell *matHeaderCellDef style="width: 100px;">Frase Emotiva</th>
        <td class="frase_emotiva" mat-cell *matCellDef="let graduado"> {{graduado.frase_emotiva}} </td>
      </ng-container>

      <!-- Columna año del graduado -->
      <ng-container matColumnDef="year_graduado">
        <th mat-header-cell *matHeaderCellDef>Año</th>
        <td mat-cell *matCellDef="let graduado"> {{graduado.year_graduado}} </td>
      </ng-container>

      <!-- Columna telefono del graduado -->
      <ng-container matColumnDef="telefono_graduado">
        <th mat-header-cell *matHeaderCellDef>Telefono</th>
        <td mat-cell *matCellDef="let graduado"> {{graduado.telefono_graduado}} </td>
      </ng-container>

      <!-- Columna correo del graduado -->
      <ng-container matColumnDef="correo_graduado">
        <th mat-header-cell *matHeaderCellDef>Correo</th>
        <td mat-cell *matCellDef="let graduado"> {{graduado.correo_graduado}} </td>
      </ng-container>

      <!-- Columna estado del graduado -->
      <ng-container matColumnDef="estado_graduado">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let graduado" [ngStyle]="{'color': graduado.estado_graduado === true ? 'green' : 'red'}">
          <ng-container *ngIf="graduado.estado_graduado === true;
        else graduadoInactivo">
        Activo</ng-container><ng-template #graduadoInactivo>Inactivo</ng-template>  </td>
      </ng-container>

      <!-- Columna graduado destacado -->
      <ng-container matColumnDef="destacado_graduado">
        <th mat-header-cell *matHeaderCellDef>Destacado</th>
        <td mat-cell *matCellDef="let graduado" [ngStyle]="{'color': graduado.destacado_graduado === true ? 'green' : 'red'}">
          <ng-container *ngIf="graduado.destacado_graduado=== true;
        else graduadoNoDestacado">
        Si</ng-container><ng-template #graduadoNoDestacado>No</ng-template>  </td>
      </ng-container>

      <!-- <ng-container matColumnDef="foto_graduado">
        <th mat-header-cell *matHeaderCellDef>Foto</th>
        <td mat-cell *matCellDef="let graduado">
            <img [src]="graduado.foto_graduado" alt="Foto de graduado" style="max-width: 100px;">
        </td>
      </ng-container> -->

      <!-- Columna QR del graduado -->
      <ng-container matColumnDef="qr_graduado">
        <th mat-header-cell *matHeaderCellDef>QR</th>
        <td class="qr_graduado" mat-cell *matCellDef="let graduado">
          <a title="enlaceQR" [href]="graduado.qr_graduado">{{graduado.qr_graduado}} </a>
        </td>
      </ng-container>

      <!-- Columna acciones -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let graduado" (click)="abrirModalEditar(graduado.carnet)">
            <mat-icon (click)="abrirModalEditar(graduado.carnet)" class="pointer" color="primary">edit</mat-icon>
            <!-- <mat-icon (click)="eliminarGraduado(graduado._id)" class="pointer" color="warn">delete</mat-icon> -->
          </td>
      </ng-container>

      <tr class="header-tabla" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true;">
      </tr> -->
    </table>
  </div>
  <mat-paginator id="paginador-tabla" [pageSizeOptions]="[5, 10, 100]" showFirstLastButtons></mat-paginator>
</div>
