th{
  text-align: center;
}

.pointer{
  cursor: pointer;

}

//*Estilos de tabla
.contenedor-tabla{
  margin-top: 64px;
  height: calc(100vh - 64px);
}

.header-tabla{
  background-color: rgb(214, 214, 214);
  border-bottom: 1px solid #313131;
}

::ng-deep .mat-cell{
  width: 150px;
}

#paginador-tabla{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #bbbbbb;
}

.contenedor-secundario {
  overflow: auto;
  white-space: nowrap;
  height: 90%;
}