.buscar_graduado{
  margin: 0;
  padding: 0;
  .mat-mdc-form-field{
    width: 50%;
  }
  .mat-mdc-form-field-subscript-wrapper{
    height: 0;
  }
}

th{
  text-align: center;
}

//*Estilos de tabla
table{
  white-space: nowrap;
}

.frase_emotiva, .qr_graduado{
  max-width: 200px;
}

.contenedor-tabla{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 64px;
  height: calc(100vh - 64px);
}


.header-tabla{
  background-color: rgb(81, 81, 81);
  color: #efefef;
  border-bottom: 1px solid #313131;
}

#paginador-tabla{
  width: 100%;
  background-color: #efefef;
}

.contenedor-secundario {
  overflow: auto;
  height:  -webkit-fill-available;
}

.pointer{
  cursor: pointer;
}
