
//Estilo Agregar graduado
.example-spacer{
  flex: 1 1 auto;
}
.ancho-tool2{
  width: 99%;
  margin-right: auto;
  margin-left: auto;
  //border: 0.7px solid rgba(63, 81, 181, 0.425);
  border-radius: 6px 6px 0 0;
  box-shadow: 0 5px 5px 2px rgba(63, 81, 181, 0.514);
}
.list{
  letter-spacing: .3rem;
}

//Estilo cuerpo
.cuerpo{
  background-color: #8d8d8d94;
  border: 1px solid #f9f9f994;
  border-radius: .5rem;
  display: flex;
  padding: 2rem;
  align-items: center; // Centra verticalmente
  justify-content: center; // Centra horizontalmente
  flex-direction: column; // Alinea los elementos en columna
  width: fit-content;
  margin-top: 30px;
  margin-left: auto; // Centra horizontalmente
  margin-right: auto; // Centra horizontalmente
  //box-shadow: 0 5px 5px 2px rgba(158, 158, 158, 0.418);
}

//Estilo de la tabla
tr, td{
  padding: 10px;
}

//Estilo botones
.botones{
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn-agregar{
  margin: auto;
  background-color: #2ab36f;
  color: #ffff;
  width: 200px;
  height: 50px;
}

.btn-agregar:disabled{
  opacity: 0.6;
  touch-action: none;
}


//Estilo texto de emergencia
.text_danger{
  font-size: 13px;
  text-align: start;
  margin-left: 3px;
  color: #ffbf00;
  letter-spacing: 2px;
}

.form-label{
  color: #f9f9f9;
  letter-spacing: 2px;
  font-weight: 700;
}

//*estilos nuevos

.contenedor-principal{
  height: 100vh;
  display: flex;
  /* margin-top: 8%; */
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
