<div class="contenedor-principal" [ngStyle]="{'background-image':'url('+backgroundImage+')'}">
  <div class="cuerpo">
    <form enctype="multipart/form-data" [formGroup]="gallery_fromGrup" (ngSubmit)="agregarColeccionFotos()">
      <table>
        <tr>
          <td>
            <label for="formFileMultiple" class="form-label">Fotos</label>
            <input formControlName="fotos_graduaciones" class="form-control" type="file" id="formFileMultiple" multiple (change)="onFileChange($event)">
          </td>
        </tr>
        <tr>
          <td>
            <label class="form-label">Campus</label>
            <select formControlName="campus" class="form-select">
              <option value="Central">Central</option>
              <option value="Jinotepe">Jinotepe</option>
              <option value="Doral">Doral</option>
              <option value="Extensión Esteli">Extensión Estelí</option>
            </select>
            <div class="text_danger"
              *ngIf="gallery_fromGrup.get('campus')?.hasError('required') && gallery_fromGrup.get('campus')?.touched">
              <span>La opción campus <strong>es obligatoria</strong></span>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label class="form-label">Año</label>
            <input formControlName="year_graduacion" class="form-control" type="text" placeholder="Ingresar el año de graduación">
            <div class="text_danger"
              *ngIf="gallery_fromGrup.get('year_graduacion')?.hasError('required') && gallery_fromGrup.get('year_graduacion')?.touched">
              <span>El año de graduación <strong>es obligatorio</strong></span>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label class="form-label">Sesión</label><br>
            <input formControlName="sesion" class="form-control" type="text" placeholder="Ingrese la sesión 1 o 2">
            <div class="text_danger"
              *ngIf="gallery_fromGrup.get('sesion')?.hasError('required') && gallery_fromGrup.get('sesion')?.touched">
              <span>La sesión <strong>es obligatoria</strong></span>
            </div>
          </td>
        </tr>
      </table>
      <div class="botones">
        <button type="submit" class="btn-agregar" mat-raised-button color="primary">AGREGAR</button>
      </div>
    </form>
  </div>
</div>
