<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
  <div class="tituloAnuario">
    <p class="anuario">{{anuariotxt}}</p>
  </div>
  <div class="tituloFelicidades">
    <p class="felicidades"> {{felicitacionestxt}}</p>

    <div class="btn-principal">
      <button routerLink="inicio" class="btn-70">Inicio</button>
      <button routerLink="coleccion-fotos" class="btn-70">Colección Fotos</button>
      <button routerLink="eventos" class="btn-71">Eventos</button>
      <button routerLink="filtro-anuario" class="btn-71">Filtrar Imagenes</button>
    </div>
  </div>
</body>
</html>



