<div class="tituloFelicidades">
  <div class="logo-container">
    <img [src]="LOGO" alt="Logo" class="logo">
  </div>
  <div class="tituloAnuario">
    <p class="anuario">{{anuariotxt}}</p>
  </div>

  <!-- Menú Hamburguesa -->
  <button class="hamburger" (click)="toggleMenu()" *ngIf="!isMenuOpen">
    <mat-icon class="menu">reorder</mat-icon>
  </button>
  
  <!-- Menú de botones -->
  <div class="contenedor-botones" [ngClass]="{'show-menu': isMenuOpen}">
    <button (click)="closeMenu()" routerLink="inicio" class="btn">Inicio</button>
    <button (click)="closeMenu()" routerLink="anuarios" class="btn">Anuario</button>
    <button (click)="closeMenu()" routerLink="coleccion-fotos" class="btn">Colección Fotos</button>
    <button (click)="toggleMenu()" class="close-menu" *ngIf="isMenuOpen"><mat-icon>close</mat-icon></button>
  </div>
</div>
