<div class="tituloFelicidades">
  <div class="tituloAnuario">
    <p class="anuario">{{anuariotxt}}</p>
  </div>
  <div class="tituloFelicidades">
  <!-- <p class="felicidades"> {{felicitacionestxt}}</p> -->
    <div class="contenedor-botones">
      <button routerLink="inicio" class="btn-70">Inicio</button>
      <button routerLink="inicio/anuariovista" class="btn-70">Anuario</button>
      <button routerLink="coleccion-fotos" class="btn-70">Colección Fotos</button>
      <button routerLink="eventos" class="btn-70">Eventos</button>
      <button routerLink="filtro-anuario" class="btn-70">Filtrar</button>
    </div>
  </div>



