/* Estilo del contenedor del logo */
.logo-container {
  position: absolute;
  //top: 0;
  left: 20px;
  background-color: #ffffff;
  padding: 0.5rem; /* Ajusta el padding según sea necesario */
  z-index: 10; /* Asegúrate de que el logo esté encima de otros elementos */
  border-radius: 0px 0px 20px 20px;
  height: 110px;
}

.logo {
  width: 80px; /* Ajusta el tamaño del logo según sea necesario */
  //height: auto;
  margin-top: 10px;
}

/* Estilo del texto Anuario */
.tituloAnuario {
  background-color: #1BC075;
  height: 30px;
  width: 100%;
  box-shadow: 7px 7px 7px 0 rgba(97, 83, 83, 0.3);
  //margin-top: 60px; /* Asegúrate de que el texto no se sobreponga con el logo */
}

.anuario {
  color: #ffff;
  font: bold 1rem "Open Sans", serif;
  text-align: center;
  padding-top: 0.2rem;
  letter-spacing: .2rem;
}

/* Estilo del contenedor principal */
.tituloFelicidades {
  width: 100%;
  height: auto;
  background: rgb(35,204,123);
  background: linear-gradient(90deg, rgba(35,204,123,1) 0%, rgba(30,172,104,1) 100%);
  box-shadow: 7px 7px 7px 0 rgba(20, 20, 20, 0.3);
  position: relative; /* Necesario para el posicionamiento absoluto del logo */
  //padding-top: 40px; /* Ajusta el padding según sea necesario */
}

.felicidades {
  color: #ffff;
  font: bold 1.3rem "Open Sans", serif;
  text-align: center;
  padding-top: 2.3rem;
  letter-spacing: .9rem;
}

/* Estilo del contenedor de botones */
.contenedor-botones {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 5rem;
  //margin-top: 2rem; /* Ajusta el margen según sea necesario */
}

.btn {
  border-radius: 5px;
  background-color: rgb(0, 119, 255);
  color: #ffff;
  border: 1px solid #ffff;
  margin: 0;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

// .btn-71 {
//   border-radius: 5px;
//   background-color: rgb(255, 153, 0);
//   color: #ffff;
//   border: 1px solid #ffff;
//   margin: 0;
//   padding: 0.5rem 1.5rem;
// }
/* Estilo del botón de menú hamburguesa */
.menu{
  font-size: 3rem;
  width: fit-content;
  height: fit-content;
}
.hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  z-index: 100; /* Encima de los demás elementos */
  position: absolute;
  //right: -10px;
  left: 77%;
  top: 15px;
}

/* Ocultar botones en pantallas pequeñas */

@media(max-width: 775px){

  .tituloFelicidades {
    height: 10.7vh;
  }
  .contenedor-botones {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Menú de pantalla completa */
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  
  .btn{
    margin-top: 10px;
  }

  .show-menu {
    display: flex;
  }

  .hamburger {
    display: block;
    margin-top: 10px;
    margin-left: 80px;
  }

  .menu{
    font-size: 5rem;
  }

  .close-menu {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    margin-top: 1rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

@media(max-width: 576px){
  .tituloAnuario{
    display: none;
  }
  .anuario{
    display: none;
  }
  .tituloFelicidades {
    height: 9vh;
  }
  .logo-container{
    width: 0px;
    height: 0px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: flex-end;
  }
  .logo{
    filter: drop-shadow(0 0 5px rgb(255, 255, 255));
    //margin-left: 25px;
    margin-top: -6px;
    height: 8vh;
    margin-right: -60px;
  }
  .contenedor-botones {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Menú de pantalla completa */
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  
  .btn{
    margin-top: 10px;
  }

  .show-menu {
    display: flex;
  }

  .hamburger {
    display: block;
    margin-top: -3px;
    margin-left: 30px;
  }
  .menu{
    font-size: 3rem;
  }
  .close-menu {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    margin-top: 1rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

}
@media (max-width: 375px) {
  .tituloAnuario{
    display: none;
  }
  .anuario{
    display: none;
  }
  .tituloFelicidades {
    height: 8.5vh;
  }
  .logo-container{
    width: 0px;
    height: 0px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: flex-end;
  }
  .logo{
    filter: drop-shadow(0 0 5px rgb(255, 255, 255));
    //margin-left: 25px;
    margin-top: -3px;
    height: 7vh;
    margin-right: -30px;
  }
  .contenedor-botones {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Menú de pantalla completa */
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }

  .btn{
    margin-top: 10px;
  }

  .show-menu {
    display: flex;
  }

  .hamburger {
    display: block;
    margin-top: -9px;
    margin-left: 10px;
  }

  .menu{
    font-size: 3rem;
  }

  .close-menu {
    background: none;
    border: none;
    color: #fff;
    font-size: 3rem;
    margin-top: 1rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}