<div class="contenedor-principal" [ngStyle]="{'background-image':'url('+backgroundImage+')'}">
  
  <!-- Spinner de Carga -->
  <div *ngIf="isLoading" class="spinner-overlay">
    <div class="spinner"></div>
  </div>

  <!-- Upload -->
  <form id="file-upload-form" action="/upload" method="post" class="uploader" enctype="multipart/form-data">
    <input id="file-upload" (change)="archivoSeleccionado($event)" type="file" name="file" accept=".csv" />

    <label for="file-upload" id="file-drag">
      <div id="start">
        <i class="fa fa-download" aria-hidden="true"></i>
        <div>Seleccionar archivo</div>
        <span id="file-upload-btn" class="btn btn-primary">Seleccionar un archivo</span>
      </div>
      <div id="response" class="hidden">
        <div id="messages"></div>
        <progress class="progress" id="file-progress" value="0">
          <span>0</span>%
        </progress>
        <button id="save-button" class="btn btn-primary hidden boton">Guardar</button>
      </div>
    </label>
  </form>
</div>
