<div class="contenedor-principal" >
  <div class="contenedor-login">
    <div class="login">
      <!-- <h1>BIENVENIDO</h1> -->
      <img alt="Logo UCN" [src]="logo_ucn" width="50%">
      <form action="" id="formulario-login">
        <div class="contenedor-input">
          <!-- <label for="txt-usuario">Usuario</label> -->
          <input type="text" [(ngModel)]="email" name="txt-usuario" id="txt-usuario" placeholder="Ingresar Correo">
        </div>
        <div class="contenedor-input">
          <!-- <label for="txt-usuario">Contraseña</label> -->
          <input type="password" [(ngModel)]="password" name="txt-password" id="txt-password" placeholder="Ingresar Contraseña">
        </div>
        <button class="ancho boton" type="button" mat-raised-button color="primary" (click)="ingresarLogin()">Acceder</button>
        <div id="google-btn"></div>
      </form>
      <!--<button class="google"><i class="fa-brands fa-google" style="color: #3f51b5;"></i>Iniciar con Google</button>-->
    </div>
  </div>
  <div class="contenedor-fondo" [ngStyle]="{'background-image':'url('+backgroundImage+')'}"></div>
</div>


