<mat-toolbar>
  <!-- <span>Admin Anuario</span> -->
  <div class="contenedor-botones">
    <button routerLink="ver-lista-graduados" routerLinkActive="active-link" mat-button>Listado</button>
    <button routerLink="ingresar-graduados" routerLinkActive="active-link" mat-button>Añadir Graduado</button>
    <button routerLink="ingresar-colec-fotos" routerLinkActive="active-link" mat-button>Añadir Colección de Fotos</button>
    <button routerLink="subir-excel" routerLinkActive="active-link" mat-button>Subir Datos CSV</button>
    <button routerLink="ingresar-eventos" routerLinkActive="active-link" mat-button>Añadir Evento</button>
  </div>
  <button (click)="signOut()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
