<mat-toolbar>
  <span>Admin Anuario</span>
  <div class="contenedor-botones">
    <button routerLink="ver-lista-graduados" mat-button>Listado</button>
    <button routerLink="ingresar-graduados" mat-button>Agregar Graduado</button>
    <button routerLink="ingresar-colec-fotos" mat-button>Añadir Colección de Fotos</button>
    <button routerLink="subir-datos-excel" mat-button>Subir Datos Excel</button>
  </div>
  <button (click)="signOut()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>





