<div id="app" >
  <div *ngIf="graduadoSeleccionado" class="contenedor">
      <div class="card">
          <div class="card_image">
              <img [src]="imagen_graduado" class="picture"
              (error)="onImageError($event)">
          </div>
          <div class="card_body">
            <h2 class="titulo_contenido">Nombres</h2>
            <h2 class="contenido_graduado">{{graduadoSeleccionado.nombres}}</h2>
            <h2 class="titulo_contenido">Apellidos</h2>
            <h2 class="contenido_graduado">{{graduadoSeleccionado.apellidos}}</h2>
            <h2 class="titulo_contenido">Carrera</h2>
            <h2 class="contenido_graduado">{{graduadoSeleccionado.carrera}}</h2>
            <h2 class="titulo_contenido">Facultad</h2>
            <h2 class="contenido_graduado">{{graduadoSeleccionado.facultad}}</h2>
            <h2 class="titulo_contenido">Palabras emotivas</h2>
            <h2 class="contenido_graduado">{{graduadoSeleccionado.frase_emotiva}}</h2>
            <h2 class="titulo_contenido">Graduado en el año</h2>
            <h2 class="contenido_graduado">{{graduadoSeleccionado.year_graduado}}</h2>
            <a class="titulo_contenidoQr" [href]="graduadoSeleccionado.qr_graduado" target="_blank">Ver informoción del diploma</a>
            <qrcode class="qrCode_graduado" [qrdata]="graduadoSeleccionado.qr_graduado" [width]="120"></qrcode>
          </div>
      </div>
  </div>
</div>
