<div >
<div id="app" >
  <div *ngIf="graduadoSeleccionado" class="contenedor">
      <div class="card">
          <div class="card_image">
              <img [src]="graduadoSeleccionado.foto_graduado" class="picture">
          </div>
          <div class="card_body">
            <p>Nombres</p>
            <h2>{{graduadoSeleccionado.nombres}}</h2>
            <p>Apellidos</p>
            <h2>{{graduadoSeleccionado.apellidos}}</h2>
            <p>Carrera</p>
            <h2>{{graduadoSeleccionado.carrera}}</h2>
            <p>Facultad</p>
            <h2>{{graduadoSeleccionado.facultad}}</h2>
            <p>Palabras emotivas</p>
            <h2>{{graduadoSeleccionado.frase_emotiva}}</h2>
            <p>Graduado en el año</p>
            <h2>{{graduadoSeleccionado.year_graduado}}</h2>
            <p>Ver info</p>
            <img src="../../../assets/Fotos/escaneo-de-codigo-qr.png" class="qr" alt="">
          </div>
      </div>
  </div>
</div>
