.card {
  display: grid;
  grid-template-columns: 1fr 300px; /* 1fr para el contenido y 300px para la imagen */
  width: 800px; /* Ajustado para acomodar la imagen más grande y el contenido */
  height: 90vh; /* Ajustado para la altura de la imagen */
  max-height: 90vh;
  max-width: 800px;
}
.card_body {
  margin-left: 20px;
  margin-top: 10px;
}
.card_image {
  display: flex;
  position: relative;
  height: 100%; /* Ajustado para que ocupe toda la altura del contenedor */
  width: 100%; /* Ajustado para que ocupe toda la anchura del contenedor */
  justify-content: center;
  align-items: center;
}
.card_image .picture {
  width: 100%; /* Ancho fijo de la imagen */
  height: 100%; /* Altura fija de la imagen */
  mask-image: linear-gradient(
    to right,
    black 87%,
    transparent
  );
}
.titulo_contenido {
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #1BC075;
  margin-bottom: -7px;
}
.contenido_graduado {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  margin-bottom: -1px;
}
a{
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #FFAA00;
  margin-top: 10px;
}
.qrCode_graduado {
  display: flex;
  margin-top: 10px;
}
