
//Estilo Agregar graduado
.example-spacer{
  flex: 1 1 auto;
}

.list{
  letter-spacing: .3rem;
}

//Estilo cuerpo
.cuerpo{
  background-color: #8d8d8d94;
  border: 1px solid #f9f9f994;
  padding: 2rem;
  border-radius: .5rem;
  display: flex;
  align-items: center; // Centra verticalmente
  justify-content: center; // Centra horizontalmente
  flex-direction: column; // Alinea los elementos en columna
  width: auto;
  margin-left: auto; // Centra horizontalmente
  margin-right: auto; // Centra horizontalmente
  margin-top: auto;
  //box-shadow: 0 5px 5px 2px rgba(158, 158, 158, 0.418);
}

//Estilo de la tabla
tr, td{
  padding: 10px;
}

textarea{
  resize: none;
  min-width: 300px;
}



//Estilo botones
.botones{
  display: flex;
  justify-content: center;
  width: 100%;
}
//Estilo boton Agregar y cancelar
.btn-agregar
{
  margin: auto;
  background-color: #2ab36f;
  color: #ffff;
}

//Estilo texto de emergencia
.text_danger{
  position: absolute;
  font-size: 13px;
  text-align: start;
  margin-left: 3px;
  color: #ffbf00;
  letter-spacing: 2px;
}

.form-label{
  color: #f9f9f9;
  letter-spacing: 2px;
  font-weight: 700;
}


//*estilos nuevos

.contenedor-principal{
  height: 100vh;
  display: flex;
  /* margin-top: 8%; */
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.form-control{
  max-width: 350px;
}

.carrera{
  max-width: 300px;
}


