
//Estilo Agregar graduado
.example-spacer{
  flex: 1 1 auto;
}
.ancho-tool2{
  width: 98%;
  margin-right: auto;
  margin-left: auto;
  border: 0.7px solid rgba(63, 81, 181, 0.425);
  border-radius: 6px 6px 0 0;
}
.list{
  letter-spacing: .3rem;
}

//Estilo de la tabla

